*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  width: 100dvw;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-position: center;
  background-size: cover;
  background-image: url("./images/backgrounds/background-night.jpg");
  --search-background-color: rgba(255, 255, 255, 0.1);
  --serach-padding: 0.8rem 3.5rem;
  --serach-border: 0.12rem solid rgba(255, 255, 255, 0.5);
  --section-border: 0.15rem solid rgba(255, 255, 255, 0.8);
  --text-color: white;
  --days-hours-scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  --section-backdrop-filter: blur(0.8rem);
  --section-background-color: rgba(255, 255, 255, 0.1);
  --section-overflow: hidden;
  --button-background-color: rgba(255, 255, 255, 0.15);
  --button-hover-background-color: rgba(255, 255, 255, 0.1);
  --button-active-background-color: rgba(255, 255, 255, 0.2);
  --toggle-option-border: 2px solid rgba(255, 255, 255, 0.8);
}
body::before {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  content: "";
  backdrop-filter: blur(0.1rem);
  z-index: -1;
}
body.day {
  background-image: url("./images/backgrounds/background-day.jpg");
  --section-background-color: rgba(0, 0, 0, 0.05);
  --text-color: black;
  --serach-border: 0.12rem solid rgba(0, 0, 0, 0.5);
  --section-border: 0.15rem solid rgba(0, 0, 0, 0.8);
  --days-hours-scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  --button-background-color: rgba(0, 0, 0, 0.15);
  --button-hover-background-color: rgba(0, 0, 0, 0.1);
  --button-active-background-color: rgba(0, 0, 0, 0.2);
  --toggle-option-border: 2px solid rgba(0, 0, 0, 0.8);
}
#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem 2rem;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 3.5rem;
}
#header > * {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#website-icon-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow: var(--section-overflow);
}
#website-icon {
  height: 3.4rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  pointer-events: all;
}
#website-icon ~ h1 > a {
  text-decoration: none;
  color: #96d0f7;
  transition: color 0.3s ease;
}
#website-icon ~ h1 > a:hover {
  color: #abddff;
}
#search-container {
  flex: 1.5;
  position: relative;
  --side-padding: 4%;
}
#search-button,
#erase-button {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  color: var(--text-color);
  --size: 1.5rem;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
}
#search-button > .icon,
#erase-button > .icon {
  height: 100%;
  width: 100%;
}
body.day #search-button > .icon,
body.day #erase-button > .icon {
  filter: invert(1);
}
#search-button {
  left: var(--side-padding);
}
#erase-button {
  right: var(--side-padding);
}
#search {
  position: relative;
  width: 100%;
  border: var(--serach-border);
  outline: none;
  color: var(--text-color);
  background-color: var(--search-background-color);
  border-radius: 2rem;
  padding: var(--serach-padding);
  backdrop-filter: var(--section-backdrop-filter);
  font-size: 1.5rem;
  overflow: var(--section-overflow);
}
#search::placeholder {
  color: var(--text-color);
  font-size: 1.2rem;
  opacity: 0.5;
}
#unit-toggle-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  --toggle-menu-height: 3.5rem;
  --toggle-menu-width: auto;
  --toggle-menu-aspect-ratio: 1/1;
}
#toggle-menu {
  background: none;
  border: none;
  outline: none;
  height: var(--toggle-menu-height);
  width: var(--toggle-menu-width);
  border: var(--section-border);
  padding: 1rem;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#toggle-menu:hover {
  background-color: var(--button-hover-background-color);
}
#toggle-menu:active {
  background-color: var(--button-active-background-color);
}
#toggle-menu > .icon {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}
body.day #toggle-menu > .icon {
  filter: invert(1);
}
#all-unit-toggles-wrapper {
  position: absolute;
  height: var(--toggle-menu-height);
  width: var(--toggle-menu-width);
  aspect-ratio: var(--toggle-menu-aspect-ratio);
  pointer-events: none;
}
#unit-toggle-container.visible #all-unit-toggles {
  height: 14rem;
  top: 0;
  opacity: 1;
}
#all-unit-toggles {
  position: absolute;
  top: -500%;
  right: 100%;
  margin-right: 1rem;
  overflow-y: hidden;
  height: 0rem;
  width: 18rem;
  padding: 0.5rem;
  border: var(--section-border);
  background-color: var(--search-background-color);
  backdrop-filter: var(--section-backdrop-filter);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  z-index: 10;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease, padding 0.5s ease, border 0.5s ease, background-color 0.5s ease, top 0.5s ease;
}
#all-unit-toggles > .toggle-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
#all-unit-toggles > .toggle-container > .toggle-options {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
#all-unit-toggles > .toggle-container > .toggle-options > .toggle-option {
  flex: 1;
  flex-shrink: 0;
  background: none;
  border: var(--toggle-option-border);
  outline: none;
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  pointer-events: all;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}
#all-unit-toggles > .toggle-container > .toggle-options > .toggle-option:hover {
  background-color: var(--button-hover-background-color);
}
#all-unit-toggles > .toggle-container > .toggle-options > .toggle-option:active {
  background-color: var(--button-active-background-color);
}
#all-unit-toggles > .toggle-container > .toggle-options > .toggle-option:first-child {
  border-right: 0.15rem solid rgba(255, 255, 255, 0.1);
}
#all-unit-toggles > .toggle-container > .toggle-options > .toggle-option:last-child {
  border-left: none;
}
#all-unit-toggles > .toggle-container > .toggle-options > .toggle-option.selected {
  background-color: var(--button-background-color);
}
#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
#forecast-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2.2;
  gap: 1rem;
  overflow: var(--section-overflow);
}
#forecast-details-container > * {
  height: 100%;
}
#forecast-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  border: var(--section-border);
  border-radius: 0.4rem;
  color: var(--text-color);
  backdrop-filter: var(--section-backdrop-filter);
  background-color: var(--section-background-color);
  overflow: var(--section-overflow);
}
#forecast-container > #time-day-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
#time-day-container > #time,
#time-day-container > #day {
  padding: 0.5rem;
  font-size: 1.5rem;
}
#temperature-description-details-container-wrapper {
  flex: 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#temperature-description-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex: 1.5;
}

#temperature-feelslike-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
#temperature-feelslike-wrapper > #temperature {
  font-size: 5rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
#temperature-feelslike-wrapper > #feelslike {
  color: var(--text-color);
  opacity: 0.8;
  font-size: 1.2rem;
}
#temperature-description-container > #description {
  flex: 2;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding-left: 5%;
  line-height: 2.4rem;
}
#icon-status-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
}
#icon-status-container > #weather-icon {
  --size: 15rem;
  pointer-events: none;
  height: var(--size);
  width: var(--size);
}
#icon-status-container > #weather-condition {
  letter-spacing: 0.1rem;
  white-space: nowrap;
}
#days-hours-container {
  background-color: var(--section-background-color);
  height: 12rem;
  flex-shrink: 0;
  overflow: var(--section-overflow);
}
#details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  border: var(--section-border);
  color: var(--text-color);
  backdrop-filter: var(--section-backdrop-filter);
  background-color: var(--section-background-color);
}
#details-container > .detail-section:not(:first-child) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
  align-items: center;
  gap: 2rem;
  flex: 1;
}
#details-container > .detail-section:not(:first-child) > * {
  margin-left: 1rem;
  white-space: nowrap;
}
#details-container > :first-child {
  letter-spacing: 0.1rem;
  text-align: center;
  border-bottom: var(--section-border);
  padding-bottom: 0.4rem;
}
.detail-section > .detail {
  display: flex;
  gap: 0.5rem;
}
#detail-location {
  white-space: wrap;
}
.detail-label-text-container > :first-child {
  color: var(--text-color);
  opacity: 0.6;
}
.detail-icon {
  --size: 2rem;
  pointer-events: none;
  height: var(--size);
  width: var(--size);
}
#days-hours-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: var(--section-border);
  border-radius: 0.4rem;
  color: var(--text-color);
  backdrop-filter: var(--section-backdrop-filter);
}
#days-hours-toggle-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.4rem;
  margin-top: 0;
  color: var(--text-color);
  --days-hours-border-radius: 0.4rem;
}
#days-toggle,
#hours-toggle {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.2rem;
  padding: 0.2rem 0.6rem;
  border: var(--section-border);
  border-top: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
#days-toggle:hover,
#hours-toggle:hover {
  background-color: var(--button-hover-background-color);
}
#days-toggle:active,
#hours-toggle:active {
  background-color: var(--button-active-background-color);
}
#days-hours-toggle-container.days #days-toggle,
#days-hours-toggle-container.hours #hours-toggle {
  background-color: var(--button-background-color);
}
#days-toggle {
  border-right: none;
  border-bottom-left-radius: var(--days-hours-border-radius);
}
#hours-toggle {
  border-bottom-right-radius: var(--days-hours-border-radius);
}
#days-hours-container > #days-hours {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.4rem;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--days-hours-scrollbar-color);
  height: 9.5rem;
  flex-shrink: 0;
}
#days-hours-container > #days-hours > .day-hour {
  border: var(--section-border);
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.4rem;
  flex-shrink: 0;
  width: 9.15rem;
  pointer-events: all;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}
#days-hours-container > #days-hours > .day-hour:hover {
  background-color: var(--button-hover-background-color);
}
#days-hours-container > #days-hours > .day-hour.selected {
  box-shadow: 0 0 0.5rem 0.05rem rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
}
body.day #days-hours-container > #days-hours > .day-hour.selected {
  box-shadow: 0 0 0.5rem 0.05rem rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.5);
}
#days-hours-container > #days-hours > .day-hour > .weekday-daytime {
  font-size: 1.4rem;
  font-weight: 500;
}
#days-hours-container > #days-hours > .day-hour > .weekday-daytime-temperature {
  font-size: 1.1rem;
  font-weight: 500;
}
#days-hours-container > #days-hours > .day-hour > .weather-condition-icon {
  --size: 3.4rem;
  height: var(--size);
  width: var(--size);
}
/* Message Popup */
#message-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#message-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.1rem);
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
#message-container.visible #message-background {
  opacity: 1;
  pointer-events: all;
}
#message-content {
  position: absolute;
  height: auto;
  width: 32rem;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: var(--text-color);
  border: var(--section-border);
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  transform: translateY(-200%);
  user-select: none;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
#message-container.visible #message-content {
  opacity: 1;
  user-select: text;
  pointer-events: all;
  transform: translateY(0%);
}
#message-container #message-content > * {
  width: 100%;
}
#message-container #message-header {
  font-size: 2.5rem;
  border-bottom: 0.1rem solid var(--text-color);
  padding-bottom: 1rem;
  font-weight: 600;
}
#message-container #message-text {
  font-size: 1.8rem;
  margin: 2.5rem 0;
}
#message-container #message-close {
  background: none;
  border: var(--section-border);
  outline: none;
  font-size: 1.5rem;
  padding: 0.4rem 1.5rem;
  border-radius: 0.4rem;
  font-weight: 600;
  color: inherit;
  background-color: var(--button-background-color);
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
#message-container #message-close:hover {
  transform: scale(1.05);
  background-color: var(--button-active-background-color);
}
#message-container #message-close:active {
  transform: scale(1.025);
  background-color: var(--button-hover-background-color);
}
